<h1 class="header">Macau game server</h1>
<div class="container">
	<div class="container__nav">
		<div class="container__nav__nav-item">Lorem ipsum</div>
		<div class="container__nav__nav-item">Lorem ipsum</div>
		<div class="container__nav__nav-item">Lorem ipsum</div>
		<div class="container__nav__nav-item">Lorem ipsum</div>
		<div class="container__nav__nav-item">Lorem ipsum</div>
	</div>
	<div class="container__game">
		<app-opponent></app-opponent>
		<app-discard-pile></app-discard-pile>
		<app-player></app-player>
	</div>
</div>

