.card {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: 160px;
	border: 1px solid black;
	border-radius: 8px;
	background-color: rgb(235, 237, 186);
	padding: 5px;
	cursor: pointer;

	&:hover {
		border: 1px solid aqua;
	}

	&--disabled {
		opacity: 50%;
		cursor: default;

		&:hover {
			border: 1px solid black;
		}
	}
}

.cacao {
	display: block;
	font-family: "Segoe UI", serif;
	font-weight: bold;
	font-size: 60px;
	margin: 0 auto 0 auto;

	&--red {
		color: #A7381F;
	}

	&--black {
		color: black;
	}
}

.suit {
	display: block;
	margin-left: 2px;
	font-size: 25px;
	width: 15px;
	height: 15px;

	&--red {
		color: #A7381F;
	}

	&--black {
		color: black;
	}

	&--upside_down {
		transform: rotate(180deg);
		align-self: flex-end;
	}
}

.number {
	display: block;
	font-family: "Segoe UI", serif;
	font-size: 20px;
	font-weight: bold;
	color: #A7381F;
	margin-left: 2px;

	&--red {
		color: #A7381F;
	}

	&--black {
		color: black;
	}

	&--upside_down {
		transform: rotate(180deg);
	}
}
