<div class="card" [ngClass]="{'card--disabled': disabled}">
	<span class="number" [ngClass]="{'number--red': isRed, 'number--black': isBlack}">{{ card.rank.toString() }}</span>
	<span class="suit" [ngClass]="{'suit--red': isRed, 'suit--black': isBlack}">{{ card.suit }}</span>
	<span class="cacao" [ngClass]="{'cacao--red': isRed, 'cacao--black': isBlack}">{{ card.suit }}</span>
	<span class="suit suit--upside_down" [ngClass]="{'suit--red': isRed, 'suit--black': isBlack}">{{ card.suit }}</span>
	<span class="number number--upside_down" [ngClass]="{'number--red': isRed, 'number--black': isBlack}">{{ card.rank.toString() }}</span>
</div>
